---
import Layout from '~/layouts/Layout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `Error 404`;
---

<Layout metadata={{ title }}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md grid place-content-center gap-4 text-center">
        <h2 class="font-bold text-8xl text-rose-500">404</h2>
        <h3 class="font-bold text-7xl text-rose-500">Not Found</h3>
        <p class="text-3xl font-semibold md:text-5xl">OwO, what's this?</p>
        <p class="text-lg text-muted dark:text-slate-400">Oopsie Woopsie!! Uwu we made a fucky wucky!</p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn">Back to homepage</a>
      </div>
    </div>
  </section>
</Layout>
