---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <section class="min-h-[90vh] max-w-[1024px] grid place-content-center px-2 md:px-4 mx-auto">
    <h2 class="text-2xl md:text-5xl font-bold">About Us</h2>

    <p class="text-base md:text-xl mt-4">
      Welcome to Tarnished Soul, where the shadows of the Lands Between whisper their secrets, and
      every corner hides a tale waiting to be uncovered. If you're the kind of tarnished who loves
      peeling back the layers of mystery and diving headfirst into the unknown, you've found your
      home.
    </p>

    <p class="text-base md:text-xl mt-4">
      At Tarnished Soul, we're all about exploring the deep, dark rabbit holes of Elden Ring lore.
      We dig into the details, uncovering hidden stories, secret connections, and those juicy
      tidbits that even the most seasoned Tarnished might have missed.
    </p>

    <p class="text-base md:text-xl mt-4">
      Whether it's dissecting cryptic item descriptions, piecing together the histories of enigmatic
      NPCs, or connecting the dots between the seen and the unseen, we're on a never-ending quest
      for Elden Ring lore.
    </p>

    <p class="text-base md:text-xl mt-4">
      Join us as we journey beyond the surface, exploring the iceberg of Elden Ring's universe. Each
      post is a step deeper into the abyss, where every discovery leads to more questions and every
      answer opens a new door. So grab your flask, ready your mind for the unexpected, and let's
      uncover the secrets of the Lands Between and the Realm of Shadow together.
    </p>
  </section>
</Layout>
