---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <section class="min-h-[90vh] grid place-content-center">
    <h2 class="text-4xl md:text-7xl font-bold">We're a blog 🥳</h2>
  </section>
</Layout>
