---
import Layout from '~/layouts/PageLayout.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Tarnished Soul — Unravel the Lands Between and the Lands of Shadow',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- HighlightedPosts Widget ******* -->

  <script defer="true" async>
    setTimeout(() => {
      fetch('https://n8n.emeibech.com/webhook/4ca6eba5-7428-4642-9ec4-add8363706cc', {
        method: 'POST',
        headers: { 'x-64-domain': 'dGFybmlzaGVkc291bC5jb20=' },
        body: JSON.stringify({ domain: 'local', page: 'home' }),
      });
    }, 5000);
  </script>

  <h1
    class="text-center text-lg sm:text-2xl md:text-3xl lg:text-4xl font-bold mt-8 max-w-7xl mx-auto"
  >
    Foul tarnished!
    <br />
    Someone must extinguish thy flame.
  </h1>

  <BlogLatestPosts title="Latest Posts" count={6} />
</Layout>
