---
import Layout from '~/layouts/PageLayout.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Tarnished Soul — Unravel the Lands Between and the Lands of Shadow',
  description:
    'Dive into the bottom of the iceberg of Elden Ring lore. Unlock the secrets and hidden layers of the Lands Between and the Realm of Shadow.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- HighlightedPosts Widget ******* -->

  <h1
    class="text-center text-lg sm:text-2xl md:text-3xl lg:text-4xl font-bold mt-8 max-w-7xl mx-auto"
  >
    Foul tarnished!
    <br />
    Someone must extinguish thy flame.
  </h1>

  <BlogLatestPosts title="Latest Posts" count={6} />
</Layout>
